<!-- About -->
<div class="agileaboutaitsabout" id="agileaboutaitsabout">
	<div class="agileaboutaits">
		<div class="container">
			<div class="col-md-6 col-sm-6 agileaboutaits-grid agileaboutaits-info">
				<h1>About Me</h1>
        <P><%= about.introduce %></p>
				<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">READ MORE<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
			</div>

			<div class="col-md-6 col-sm-6 agileaboutaits-grid agileaboutaits-image">
				<div class="agileaboutaits-image-1 my-avatar">
          <%= image_tag about.photo.url, alt: "Susurrus" %>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>

			<!-- Tooltip -->
			<div class="tooltip-content">
				<div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content modal-flex">
              <div class="modal-flex-title">
                <%= about.content %>
              </div>
							<div class="modal-body">
                <%= image_tag about.photo.url, alt: "my self"  %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //Tooltip -->
		</div>
	</div>
</div>
<!-- //About -->
