<!-- Contact -->
<div class="w-booking" id="contact">
	<div class="container">
		<h3>LIÊN HỆ</h3>
		<div class="booking-form-aits">
			<form id="send_mail" action="/send_mail" method="get" data-remote="true">
				<input type="text" class="margin-right" Name="Name" placeholder="NAME" required="">
				<input type="email" Name="Email" placeholder="EMAIL" required="">
				<textarea name="Message" placeholder="Your message" required=""></textarea>
				<div class="send-button agileits text-center ">
					<button type="submit" class="btn btn-primary">SEND MESSAGE<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
				</div>
			</form>
		</div>
	</div>
</div>
