<!-- Footer -->
<div class="footer">
	<div class="container">

		<h3>Drop Me a Line</h3>
		<h5>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequateu fugiat nulla pariatur.</h5>

		<div class="footer-grids">

			<div class="col-md-3 col-sm-3 footer-grid footer-grid-1 address">
				<h4>Address</h4>
				<address>
					<ul>
						<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Sai Gon, Viet Nam</li>
						<!-- <li><span class="glyphicon glyphicon&#45;map&#45;marker" aria&#45;hidden="true"></span> 40019</li> -->
						<!-- <li><span class="glyphicon glyphicon&#45;map&#45;marker" aria&#45;hidden="true"></span> Sant'Agata Bolognese</li> -->
						<!-- <li><span class="glyphicon glyphicon&#45;map&#45;marker" aria&#45;hidden="true"></span> BO, Italy</li> -->
					</ul>
				</address>
			</div>

			<div class="col-md-2 col-sm-2 footer-grid footer-grid-2 phone">
				<h4>Phone</h4>
				<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +84 96 211 0292</p>
			</div>

			<div class="col-md-3 col-sm-3 footer-grid footer-grid-3 email">
				<h4>Email</h4>
				<p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:kien.arch92@gmail.com "> kien.arch92@gmail.com </a></p>
			</div>

			<!-- //Newsletter -->
			<div class="clearfix"></div>
			
		</div>

		<!-- Copyright -->
		<div class="copyright">
			<p><a href="http://susurrus.studio/" target="_blank"> susurrus.studio </a><a href="#agilehomewthree" class="to-top scroll" title="To Top"><span class="glyphicon glyphicon-chevron-up"></span></a></p>
		</div>
		<!-- //Copyright -->

	</div>
</div>
<!-- //Footer -->
