	<!-- Header -->
	<div class="agileheaderw3ls" id="agilehomewthree">
		<!-- Navigation -->
		<section class="cd-section">
			<a class="cd-bouncy-nav-trigger" href="#0">MENU</a>
		</section>
		<div class="cd-bouncy-nav-modal">
			<nav>
				<ul class="cd-bouncy-nav">
					<li><a class="scroll" href="#agilehomewthree">HOME</a></li>
					<li><a class="scroll" href="#agileaboutaitsabout">ABOUT</a></li>
					<li><a class="scroll" href="#w3threespecialityw3ls">WORK</a></li>
					<li><a class="scroll" href="#skills">SKILLS</a></li>
					<li><a class="scroll" href="#portfolio">PORTFOLIO</a></li>
					<li><a class="scroll" href="#contact">CONTACT</a></li>
				</ul>
			</nav>
			<a href="#0" class="cd-close">Close modal</a>
		</div>
		<!-- //Navigation -->

		<!-- Slider geted -->
		<div class="w3slideraits">
			<div class="camera_wrap text-center agileits camera_magenta_skin" id="camera_wrap_2">
        <% @sliders.each do |slider| %>
          <div data-src="<%= slider.photo.url %>" class="text-center agileits">
				  	<div class="camera_caption text-center agileits fadeFromBottom">
              <h3 class="text-center agileits"><%= slider.caption  %></h3>
				  	</div>
				  </div>
        <% end  %>
			</div>
		</div>
		<!-- //Slider -->
	</div>
	<!-- //Header -->
