	<!-- Header -->
	<div class="agileheaderw3ls" id="agilehomewthree">
		<!-- Slider geted -->
		<div class="w3slideraits">
			<div class="camera_wrap text-center agileits camera_magenta_skin" id="camera_wrap_2">
        <% if @sliders.count > 1  %>
          <% @sliders.each do |slider| %>
            <div data-src="<%= slider.photo.url(size: nil) %>" class="text-center agileits">
				    </div>
          <% end  %>
        <% else  %>
          <% @sliders.each do |slider| %>
            <div data-src="<%= slider.photo.url(size: nil) %>" class="text-center agileits">
				    </div>
            <div data-src="<%= slider.photo.url(size: nil) %>" class="text-center agileits">
				    </div>
          <% end  %>
        <% end  %>
			</div>
		</div>
		<!-- //Slider -->
	</div>
	<!-- //Header -->
