<!-- Portfolio -->
<div class="portfolio" id="portfolio">
	<h3>Portfolio</h3>
	<div class="tabs tabs-style-bar">
		<nav>
			<ul>
				<li><a href="#section-bar-1" class="icon icon-box"><span>FASHION</span></a></li>
				<li><a href="#section-bar-2" class="icon icon-display"><span>EVENTS</span></a></li>
				<li><a href="#section-bar-3" class="icon icon-upload"><span>NATURE</span></a></li>
				<li><a href="#section-bar-4" class="icon icon-tools"><span>MODELS</span></a></li>
			</ul>
		</nav>

		<div class="content-wrap">

			<!-- Tab-1 -->
			<section id="section-bar-1" class="agileits text-center ">
				<h4>FASHION</h4>
				<div class="gallery-grids">
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/fashion-1.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/fashion-1.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/fashion-2.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/fashion-2.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/fashion-3.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/fashion-3.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/fashion-4.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/fashion-4.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/fashion-5.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/fashion-5.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/fashion-6.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/fashion-6.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/fashion-7.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/fashion-7.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/fashion-8.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/fashion-8.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/fashion-9.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/fashion-9.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</section>
			<!-- //Tab-1 -->

			<!-- Tab-2 -->
			<section id="section-bar-2" class="agileits text-center ">
				<h4>EVENTS</h4>
				<div class="gallery-grids">
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/event-1.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/event-1.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/event-2.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/event-2.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/event-3.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/event-3.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/event-4.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/event-4.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/event-5.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/event-5.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/event-6.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/event-6.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/event-7.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/event-7.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/event-8.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/event-8.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/event-9.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/event-9.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</section>
			<!-- //Tab-2 -->

			<!-- Tab-3 -->
			<section id="section-bar-3" class="agileits text-center ">
				<h4>NATURE</h4>
				<div class="gallery-grids">
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/nature-1.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/nature-1.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/nature-2.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/nature-2.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/nature-3.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/nature-3.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/nature-4.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/nature-4.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/nature-5.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/nature-5.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
							<a href="images/nature-6.jpg" class="swipebox">
								<figure class="effect-bubba">
									<img src="images/nature-6.jpg" alt="" class="img-responsive">
									<figcaption>
										<h4>Photography</h4>
									</figcaption>
								</figure>
							</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/nature-7.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/nature-7.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/nature-8.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/nature-8.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/nature-9.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/nature-9.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</section>
			<!-- //Tab-3 -->

			<!-- Tab-4 -->
			<section id="section-bar-4" class="agileits text-center ">
				<h4>MODELS</h4>
				<div class="gallery-grids">
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/model-1.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/model-1.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/model-2.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/model-2.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/model-3.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/model-3.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/model-4.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/model-4.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/model-5.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/model-5.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/model-6.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/model-6.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/model-7.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/model-7.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/model-8.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/model-8.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 gallery-top">
						<a href="images/model-9.jpg" class="swipebox">
							<figure class="effect-bubba">
								<img src="images/model-9.jpg" alt="" class="img-responsive">
								<figcaption>
									<h4>Photography</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</section>
			<!-- //Tab-4 -->
			
		</div><!-- //Content -->
	</div><!-- //Tabs -->
</div>
<!-- //Portfolio -->
