<!-- Progressive-Effects -->
<div class="progressive-effects" id="skills">
	<div class="container">
		<!-- Skills -->
		<div id="about-us" class="parallax">
			<h3>Skills</h3>
			<div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
				<div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
					<p class="lead">3dmax</p>
					<div class="progress">
						<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="90">90%</div>
					</div>
				</div>
				<div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
					<p class="lead">3dmax</p>
					<div class="progress">
						<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="80">80%</div>
					</div>
				</div>
				<div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
					<p class="lead">3dmax</p>
					<div class="progress">
						<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="85">85%</div>
					</div>
				</div>
				<div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<p class="lead">3dmax</p>
					<div class="progress">
						<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="95">95%</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //Skills -->
	</div>
</div>
<!-- //Progressive-Effects -->
