<!-- Progressive-Effects -->
<div class="progressive-effects" id="skills">
	<div class="container">
		<!-- Skills -->
		<div id="about-us" class="parallax">
			<h3>Skills</h3>
			<div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <% skills.each do |skill|  %>
				  <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <p class="lead"><%= skill.name %></p>
				  	<div class="progress">
              <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="<%= skill.level  %>"><%= "#{skill.level}%" %></div>
				  	</div>
				  </div>
        <% end  %>
			</div>
		</div>
		<!-- //Skills -->
	</div>
</div>
<!-- //Progressive-Effects -->
