<!-- Slider geted -->
<div class="w3slideraits">
	<div class="camera_wrap text-center agileits camera_magenta_skin" id="camera_wrap_2">
    <div data-src="<%= image_path("slide-1.jpg")  %>" class="text-center agileits">
			<div class="camera_caption text-center agileits fadeFromBottom">
				<h3 class="text-center agileits">Hello, I am Kien</h3>
			</div>
		</div>
    <div data-src="<%= image_path("slide-2.jpg")  %>" class="text-center agileits">
			<div class="camera_caption text-center agileits fadeFromBottom">
				<h3 class="text-center agileits">I am a Architect</h3>
			</div>
		</div>
    <div data-src="<%= image_path("slide-3.jpg")  %>" class="text-center agileits">
			<div class="camera_caption text-center agileits fadeFromBottom">
				<h3 class="text-center agileits">I Photograph Models and Nature</h3>
			</div>
		</div>
    <div data-src="<%= image_path("slide-4.jpg")  %>" class="text-center agileits">
			<div class="camera_caption text-center agileits fadeFromBottom">
				<h3 class="text-center agileits">I Love Photography</h3>
			</div>
		</div>
	</div>
</div>
<!-- //Slider -->
