<!-- Speciality -->
<div class="w3threespecialityw3ls" id="w3threespecialityw3ls">
	<div class="container">
		<h3 class="title">My Photos</h3>
      <div class="mr-top-2x">
          <div class="row-eq-height">
            <% photos.each do |photo| %>
               <div class="col-md-3 col-sm-3 dflex">
                  <%= image_tag photo.link_home, alt: "random", class: "photo-home" %>
                </div>
            <% end %>
          </div>
          <h4 class="more-image">
            <%= link_to "/photos" do %>
              <span class="glyphicon glyphicon-arrow-right"></span>More images
            <% end %>
          </h4>
      </div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //Speciality -->
