<!-- Speciality -->
<div class="w3threespecialityw3ls" id="w3threespecialityw3ls">
	<div class="container">
		<h2>What I Capture</h2>
		<div class="grid cs-style-3">
      <% photos.each do |photo|  %>
			 <div class="col-md-4 col-sm-4 w3threespecialityw3ls-grid grid1">
			 	<figure>
			 		<div class="w3threespecialityw3ls-info">
            <%= image_tag photo.link, alt: photo.caption %>
			 		</div>
			 		<figcaption>
            <h3><%= photo.caption  %></h3>
			 		</figcaption>
			 	</figure>
			 </div>
      <% end  %>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //Speciality -->
