.grid-sizer, .grid-item {
    width: 33%;
    border: 2px solid #ffffff;
}
.grid-item {
    float: left;
}
.grid-item img {
    display: block;
    width: 100%;
}
/*.grid-gutter-sizer {*/
/*    width: 2%; */
/*}*/   
/* hide by default */
.grid.are-images-unloaded {
  opacity: 0;
}
.grid-item--width2 {
    width: 40%; 
}
.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}
.mr-top-2x{
  margin-top: 20px;
}

@media only screen and (max-width: 40em) { 
    .grid-sizer, .grid-item {
        width: 48%;
        border: 2px solid #ffffff;
    }
    .container{
        padding-right: 0px; 
    }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */
